.cliente-card {
    max-width: 400px;
    margin: 20px 0 20px 20px; /* Card no canto esquerdo */
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Arial, sans-serif;

    border: 4px solid #a82323;
    transition: all 0.2s ease-in-out;
}

.cliente-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.cliente-foto {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.cliente-info {
    display: flex;
    flex-direction: column;
}

.cliente-nome {
    font-size: 1.25rem;
    font-weight: 600;
    color: #111827;
}

.cliente-telefone {
    color: #6b7280;
}
