.carrinho-container {
    max-width: 400px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    font-family: Arial, sans-serif;
    border: 2px solid #686fc9;
    height: 66vh;
}

.carrinho-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #111827;
    text-align: center;
}

.carrinho-vazio {
    color: #6b7280;
    text-align: center;
}

.carrinho-lista {
    list-style-type: none;
    padding-left: 0;
}

.carrinho-item {
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
}
